<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="sequence-headers text-center">
					<div class="col col-1">
						&nbsp;
					</div>
					<div class="col col-1">
						<small>Scene 1</small>
					</div>
					<div class="col col-1">
						<small>Scene 2</small>
					</div>
					<div class="col col-1">
						<small>Scene 3</small>
					</div>
					<div class="col col-1">
						<small>Scene 4</small>
					</div>
					<div class="col col-1">
						<small>Scene 5</small>
					</div>
					<div class="col col-1">
						<small>Scene 6</small>
					</div>
					<div class="col col-1">
						<small>Scene 7</small>
					</div>
					<div class="col col-1">
						<small>Scene 8</small>
					</div>
					<div class="col col-1">
						<small>Scene 9</small>
					</div>
					<div class="col col-1">
						<small>Scene&nbsp;10</small>
					</div>
					<div class="col col-1">
						<small>Scene&nbsp;11</small>
					</div>
					<div class="col col-1">
						<small>Scene&nbsp;12</small>
					</div>
			</div>
			<div class="sequence radius">
				
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div class="alert-box warning radius display">
					
					</div>
					<div class="row">
						<div class="col-xs-4 text-center">
							<a href="javascript:void(0)" class="btn btn-sm btn-squishy btn-block">NAV</a>
						</div>
						<div class="col-xs-4 text-center">
							<a href="javascript:void(0)" class="btn btn-sm btn-squishy btn-block"><span class="glyphicon glyphicon-chevron-left"></span></a>
						</div>
						<div class="col-xs-4 text-center">
							<a href="javascript:void(0)" class="btn btn-sm btn-squishy btn-block"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</div>
					<br>
					<div class="transport">

					</div>
				</div>
				<div class="col-sm-2">
					<div class="text-center">
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
						<a class="btn btn-sm btn-squishy btn-block" href="javascript:void(0)" data-behavior="">Inactive</a><br><br>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="btn-group btn-group-justified group-buttons">
						<a class="btn btn-squishy btn-sm" title="CTRL+1" href="javascript:void(0)" data-behavior="selectGroup" data-meta="1"><small>GRP 1</small></a>
						<a class="btn btn-squishy btn-sm" title="CTRL+2" href="javascript:void(0)" data-behavior="selectGroup" data-meta="2"><small>GRP 2</small></a>
						<a class="btn btn-squishy btn-sm" title="CTRL+3" href="javascript:void(0)" data-behavior="selectGroup" data-meta="3"><small>GRP 3</small></a>
						<a class="btn btn-squishy btn-sm" title="CTRL+4" href="javascript:void(0)" data-behavior="selectGroup" data-meta="4"><small>GRP 4</small></a>
						<a class="btn btn-squishy btn-sm" title="CTRL+5" href="javascript:void(0)" data-behavior="selectGroup" data-meta="5"><small>GRP 5</small></a>
						<a class="btn btn-squishy btn-sm" title="CTRL+6" href="javascript:void(0)" data-behavior="selectGroup" data-meta="6"><small>GRP 6</small></a>
						<a class="btn btn-squishy btn-sm" title="CTRL+7" href="javascript:void(0)" data-behavior="selectGroup" data-meta="7"><small>GRP 7</small></a>
						<a class="btn btn-squishy btn-sm" title="CTRL+8" href="javascript:void(0)" data-behavior="selectGroup" data-meta="8"><small>GRP 8</small></a>
					</div>
					<hr>
					<hr>
					<div class="row pads">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="patterns-headers">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="1">1</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="2">2</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="3">3</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="4">4</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="5">5</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="6">6</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="7">7</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="8">8</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="9">9</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="10">10</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="11">11</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="12">12</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="13">13</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="14">14</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="15">15</a>
					<a class="btn btn-default btn-sm" href="javascript:void(0)" data-behavior="selectPattern" data-meta="16">16</a>
				</div>
			</div>
			<div class="patterns">

			</div>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>
<script type="text/javascript">
<%
	if (typeof recipe !== 'undefined') {
%>
	var require = {config: {}};
	require.config['views/app'] = {recipe: <%- JSON.stringify(recipe) %>};
<%
	}
%>
</script>