@mixin primary-inner-glow($opacity: 0.5) {
  box-shadow: inset 0 4px 2px -1px inset rgba(237,237,237,$opacity);
}
@mixin primary-outer-glow($opacity: 0.5) {
 box-shadow: 0 0 9px rgba(237,237,237,$opacity); 
}

.button {
  &.primary, &.secondary {
    border: 2px solid #aaa;
    font-weight:500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: #292929;
    -webkit-transition: background-color 1s ease-out, opacity .22s linear, margin .03s linear, box-shadow .03s linear;
    transition: background-color 0.2s ease-out, opacity .22s linear, margin .03s linear, box-shadow .03s linear;
    @include primary-outer-glow(0.5);
    @include primary-inner-glow(0.2);
  }
}

  // 
//  overrides
.button-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  li {
    display:table-cell;
    float:none;
    vertical-align:middle;
    width:100%;
    a {
      width:100%;
    }
  }
}

.reveal-modal {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline:none;
}