<span data-bind="one"><%= one %></span>
<br>
<%
	_.each(messages, function(message) {
%>
		<br><small><%= message.message %></small>
<%
	})
%>
<span data-bind="c1"></span>
<span data-bind="c2"></span>
<span data-bind="c3"></span>
<span data-bind="c4"></span>
