<div class="row">
	<div class="col-xs-12">
		<span data-bind="one"><%= one %></span>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<span class="" style="font-family:Courier" data-bind="left">00:00:00:00</span>
	</div>
	<div class="col-xs-6" data-bind="right">

	</div>
</div>