<div class="btn-group text-center">
	<a href="javascript:void(0)" data-behavior="restart" class="btn btn-default">
		<span class="glyphicon glyphicon-step-backward"></span> Restart
	</a>
	<a href="javascript:void(0)" data-behavior="play" class="btn btn-default">
		<span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause"></span> Play
	</a>
	<a href="javascript:void(0)" data-behavior="record" class="btn btn-default">
		<span class="glyphicon glyphicon-record"></span> Record
	</a>
	<a href="javascript:void(0)" data-behavior="stop" class="btn btn-default">
		<span class="glyphicon glyphicon-stop"></span> Stop
	</a>
	<a href="javascript:void(0)" data-behavior="end" class="btn btn-default">
		<span class="glyphicon glyphicon-step-forward"></span> End
	</a>
</div>