body {
	background: #222;
		-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing:antialiased;
	font-smooth:always;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.display {
	margin:0 0 20px;height:200px;font-family:monospace;color:#000!important;font-size:12px;
	overflow:scroll;box-shadow:inset 0 0 7px rgba(0,0,0,0.6);
	}
	.display .tiny {font-size:7px;display:block;background-color:#f08a24;padding:0;border:0;}
.waveform {border: 1px solid #f08a24;margin:12px 0;cursor:;}

.radius {border-radius:3px;}

/*============
 * Transport
 * ==========*/
.transport {}
/*[data-behavior="record"].btn.active {color:#fff;background-color:#f84719;border-color:#f03707}*/
/*[data-behavior="play"].btn.active {color:#fff;background-color:#19ff35;border-color:#00ff1f}*/

/*============
 * Sequence / Pattern
 * ==========*/
 .sequence, .pattern-inner {box-shadow:inset 0 0 8px rgba(0,0,0,0.7);overflow:hidden;position:relative;}
.grid {position:relative;overflow:hidden;}
.sequence {margin:15px auto;}
.playHead {top:0;width:1px;background-color:#aaa;height:100%;left:0%;position:absolute;box-shadow:0 0 3px rgba(170,170,170,0.8);cursor:pointer;}
.sequence-headers {margin-top:12px;overflow:hidden;}
.col {float:left;}
.col-1 {width:7.692307%;}
.trigger {background-color:rgba(201,229,255,0.5);position:absolute;border: 1px solid rgba(201,229,255,0.9);border-radius:1px;
	transition:border-color .1s ease-in-out, background-color .1s ease-in-out, box-shadow .1s ease-in-out;}
.trigger:hover {background-color:rgba(201,229,255,0.8);border: 1px solid rgba(201,229,255,1);box-shadow: 0 0 3px -3px rgba(201,229,255,0.9);}
.slot {border-left:1px solid #444;border-bottom:1px solid #444;display:block;font-size:10px;line-height:1.8;margin-right:-1px;}
.slot-label {text-transform:uppercase;font-size: 10px;line-height: 1.8;padding-left: 8px;background: #111;}
.slots {margin-right:-15px;}
.patterns {margin-left:-15px;}

/*===========
 * Pads
 * =========*/
.pads {margin-top:4px;}
.pad-container {margin:6px 0 6px;}
.pad-label {margin-bottom:2px;}

/*===========
 * Pattern
 * =========*/
.patterns {overflow-x: scroll;overflow-y:hidden;max-height:300px;position:relative;}
/*.grid {width:100%;}*/

.btn-squishy {
	font-weight:500;
	color:#000;
	padding:6px 12px;
	display:inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color:#eee;
	cursor:pointer;
	opacity:0.7;
	-webkit-transition: background-color 1s ease-out, opacity .22s linear, margin .03s linear, box-shadow: .03s linear;
	transition: background-color 1s ease-out, opacity .22s linear, margin .03s linear, box-shadow: .03s linear;
	border-radius:3px;
	border: 1px solid #aaa;
	box-shadow:	0 0 9px rgba(237,237,237,0.5)
}
.btn-squishy:hover {opacity:0.75;}

.btn-squishy:active, .btn-squishy.active {
	opacity:0.9;
	box-shadow: 0 0 7px rgba(237,237,237,0.9);
}
.pad .btn-squishy:active, .pad .btn-squishy.active {
	box-shadow: 0 0 12px #fff;
}
.btn-squishy.mapped {
	background-color:#C9E5FF;
		box-shadow:	0 0 8px rgba(201,229,255,0.7);
}
.btn-squishy.mapped:active, .btn-squishy.mapped.active {
	background-color:#A0D1FF;
	box-shadow: 0 0 12px rgba(201,229,255,0.9);
}
.pad.btn {
	border-radius:2px;
	padding-bottom:75%;height:0;width:100%;display:block;
}



.tab-pane {padding:12px 0;}

@media screen and (max-width:1200px) {
	.display .tiny {font-size:5px;}
}