<div class="alert-box primary radius display">
  <div class="row">
    <div class="small-12 columns">
      <div class="" ng-repeat="log in logs">
        {{ log.message }}
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-6 columns">
      <span ng-bind="transport.tick | tickstamp" class="" style="font-family:Courier"></span>
    </div>
    <div class="small-6 columns">
      {{ transport.playing ? (transport.recording ? 'Recording' : 'Playing') : 'Stopped' }}
    </div>
  </div>
  <br />
  <div class="row">
    <div class="small-6 columns">
      <span>BPM</span>
      <span>{{transport.bpm}}</span>
    </div>
    <div class="small-6 columns">
      <span>Step</span>
      <span>1/{{pattern.step}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-4 columns text-center">
    <a href="javascript:void(0)" class="button radius tiny primary expand" ng-click="nav()">NAV</a>
  </div>
  <div class="small-4 columns text-center">
    <a href="javascript:void(0)" class="button radius tiny primary expand" ng-click="back()">
      <span class="glyphicon glyphicon-chevron-left"></span>&lt;
    </a>
  </div>
  <div class="small-4 columns text-center">
    <a href="javascript:void(0)" class="button radius tiny primary expand" ng-click="next()">
      <span class="glyphicon glyphicon-chevron-right"></span>&gt;
    </a>
  </div>
</div>