<h4>Sample Editor: <small>{{pad.name}}</small></h4>
<div class="row">
  <div class="medium-6 columns">
    <div class="row">
      <div class="small- medium-8 columns">
        <label>Name</label>
        <input class="" type="text" placeholder="" ng-model="pad.name" />
      </div>
      <div class="medium-4 columns">
        <label>Key Trigger:</label>
        <input class="" type="text" placeholder="" ng-model="pad.keyCode" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label>Source</label>
        <input class="readonly" readonly type="text" placeholder="" value="{{pad.sample.src}}" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h5>Waveform:</h5>
        <waveform height="100"></waveform>
      </div>
    </div>
  </div>
  <div class="medium-6 columns">
    <div class="row">
      <div class="large-12 columns">
        <tabset>
          <ul class="button-group btn-group-justified">
            <li><a class="button primary tiny active" nhref="editor/{{pad.number}}-eq">EQ</a></li>
            <li><a class="button primary tiny" nhref="editor/{{pad.number}}-reverb">Reverb</a></li>
            <li><a class="button primary tiny" nhref="editor/{{pad.number}}-delay">Delay</a></li>
            <li><a class="button primary tiny" nhref="editor/{{pad.number}}/chorus">Chorus</a></li>
          </ul>
          <tab>
            <label>hpf</label>
            <input type="range" class="eq" ng-model="pad.sample.fx.eq.hpf" min="-20" max="20" step="0.5">
            <label>lf</label>
            <input type="range" class="eq" ng-model="pad.sample.fx.eq.lf" min="-20" max="20" step="0.5">
            <label>lmf</label>
            <input type="range" class="eq" ng-model="pad.sample.fx.eq.lmf" min="-20" max="20" step="0.5">
            <label>mf</label>
            <input type="range" class="eq" ng-model="pad.sample.fx.eq.mf" min="-20" max="20" step="0.5">
            <label>hmf</label>
            <input type="range" class="eq" ng-model="pad.sample.fx.eq.hmf" min="-20" max="20" step="0.5">
            <label>hf</label>
            <input type="range" class="eq" ng-model="pad.sample.fx.eq.hf" min="-20" max="20" step="0.5">
            <label>lpf</label>
            <input type="range" class="eq" ng-model="pad.sample.fx.eq.lpf" min="-20" max="20" step="0.5">
          </tab>
          <tab>
            <div class="row">
              <div class="large-12 columns text-right">
                <a class="button primary tiny" ng-click="toggleFx('reverb')">Toggle Reverb</a>
              </div>
            </div>
            <div class="row">
              <div class="large-4 columns">
                <label>Room <span class="label label-default">{{ pad.sample.fx.reverb.room }}</span></label>
                <input type="range" ng-model="pad.sample.fx.reverb.room" min="0" max="2" step="0.1">
              </div>
              <div class="large-4 columns">
                <label>Wet/Dry <span class="label label-default">{{ pad.sample.fx.reverb.damp }}</span></label>
                <input type="range" ng-model="pad.sample.fx.reverb.damp" min="0" max="1" step="0.1">
              </div>
              <div class="large-4 columns">
                <label>Mix <span class="label label-default">{{ pad.sample.fx.reverb.mix }}</span></label>
                <input type="range" ng-model="pad.sample.fx.reverb.mix" min="0" max="1" step="0.01">
              </div>
            </div>
          </tab>
          <tab>
            <div class="row">
              <div class="large-12 columns text-right">
                <a class="button primary tiny" ng-click="toggleFx('delay')">Toggle Delay</a>
              </div>
            </div>
            <div class="row">
              <div class="large-4 columns">
                <label>Time <span class="label label-default">{{ pad.sample.fx.delay.time }}</span></label>
                <input type="range" ng-model="pad.sample.fx.delay.time" min="10" max="1250" step="10">
              </div>
              <div class="large-4 columns">
                <label>Feedback <span class="label label-default">{{ pad.sample.fx.delay.fb }}</span></label>
                <input type="range" ng-model="pad.sample.fx.delay.fb" min="-1" max="1" step="0.1">
              </div>
              <div class="large-1 columns">
                <label>Cross Delay <span class="label label-default">{{ pad.sample.fx.delay.cross }}</span></label>
                <input type="range" ng-model="pad.sample.fx.delay.cross" min="0" max="1" step="0.01">
              </div>
              <div class="large-3 columns">
                <label>Mix <span class="label label-default">{{ pad.sample.fx.delay.mix }}</span></label>
                <input type="range" ng-model="pad.sample.fx.delay.mix" min="0" max="1" step="0.01">
              </div>
            </div>
          </tab>
          <tab>
            <div class="row">
              <div class="large-12 columns text-right">
                <a class="button primary tiny" ng-click="toggleFx('chorus')">Toggle Chorus</a>
              </div>
            </div>
            <label>Type <span class="label label-default" ng-model="pad.sample.fx.chorus.type">{{ pad.sample.fx.chorus.type }}</span></label>
                <select ng-model="pad.sample.fx.chorus.type" class="">
                  <option value="sin">Sin</option>
                  <option value="tri">Tri</option>
                </select>
            <div class="row">
              <div class="large-4 columns">
                <label>Delay <span class="label label-default">{{ pad.sample.fx.chorus.delay }}</span></label>
                <input type="range" ng-model="pad.sample.fx.chorus.delay" min="0.5" max="80" step="0.5">
              </div>
              <div class="large-4 columns">
                <label>Rate <span class="label label-default">{{ pad.sample.fx.chorus.rate }}</span></label>
                <input type="range" ng-model="pad.sample.fx.chorus.rate" min="0" max="10" step="0.5">
              </div>
              <div class="large-4 columns">
                <label>Depth <span class="label label-default">{{ pad.sample.fx.chorus.depth }}</span></label>
                <input type="range" ng-model="pad.sample.fx.chorus.depth" min="0" max="100" step="1">
              </div>
            </div>
            <div class="row">
              <div class="large-4 columns">
                <label>Feedback <span class="label label-default">{{ pad.sample.fx.chorus.fb }}</span></label>
                <input type="range" ng-model="pad.sample.fx.chorus.fb" min="-1" max="1" step="0.1">
              </div>
              <div class="large-4 columns">
                <label>Wet <span class="label label-default">{{ pad.sample.fx.chorus.wet }}</span></label>
                <input type="range" ng-model="pad.sample.fx.chorus.wet" min="0" max="1" step="0.01">
              </div>
              <div class="large-4 columns">
                <label>Mix <span class="label label-default">{{ pad.sample.fx.chorus.mix }}</span></label>
                <input type="range" ng-model="pad.sample.fx.chorus.mix" min="0" max="1" step="0.01">
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-right">
    <a ng-click="$close()" class="button secondary tiny">Cancel</a>
    <a class="button secondary tiny">Save</a>
  </div>
</div>