<div class="col col-1">
<div class="slot slot-label">Group 1</div>
<div class="slot slot-label">Group 2</div>
<div class="slot slot-label">Group 3</div>
<div class="slot slot-label">Group 4</div>
<div class="slot slot-label">Group 5</div>
<div class="slot slot-label">Group 6</div>
<div class="slot slot-label">Group 7</div>
<div class="slot slot-label">Group 8</div>
</div>
<%
  i = 0
  while (i < 12) {
%>
  <div class="col col-1">
    <div class="slot">&nbsp;</div>
    <div class="slot">&nbsp;</div>
    <div class="slot">&nbsp;</div>
    <div class="slot">&nbsp;</div>
    <div class="slot">&nbsp;</div>
    <div class="slot">&nbsp;</div>
    <div class="slot">&nbsp;</div>
    <div class="slot">&nbsp;</div>
  </div>
<%
    i++;
  }
%>