<ul class="button-group button-group-justified">
  <li><a href="javascript:void(0)" ng-click="transport.playPause()" ng-class="{active:transport.playing}" class="button radius tiny primary expand">
    <span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause"></span> Play
  </a></li>
  <li><a href="javascript:void(0)" ng-click="transport.record()" ng-class="{active:transport.recording}" class="button radius tiny primary expand">
    <span class="glyphicon glyphicon-record"></span> Record
  </a></li>
  <li><a href="javascript:void(0)" ng-click="transport.stop()" class="button radius tiny primary expand">
    <span class="glyphicon glyphicon-stop"></span> Stop
  </a></li>
</ul>
<ul class="button-group button-group-justified">
  <li><a href="javascript:void(0)" ng-click="transport.restart()" class="button radius tiny primary">
    <span class="glyphicon glyphicon-step-backward">&laquo;</span>
  </a></li>
  <li><a href="javascript:void(0)" ng-click="" class="button radius tiny primary">
    <span class="glyphicon glyphicon-step-forward">&raquo;</span>
  </a></li>
</ul>