<ul class="button-group button-group-justified" ng-controller="TransportCtrl">
  <li><a href="javascript:void(0)" data-behavior="play" class="button radius tiny primary expand">
    <span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause"></span> Play
  </a></li>
  <li><a href="javascript:void(0)" data-behavior="record" class="button radius tiny primary expand">
    <span class="glyphicon glyphicon-record"></span> Record
  </a></li>
  <li><a href="javascript:void(0)" data-behavior="stop" class="button radius tiny primary expand">
    <span class="glyphicon glyphicon-stop"></span> Stop
  </a></li>
</ul>
<ul class="button-group button-group-justified">
  <li><a href="javascript:void(0)" data-behavior="restart" class="button radius tiny primary">
    <span class="glyphicon glyphicon-step-backward">&laquo;</span>
  </a></li>
  <li><a href="javascript:void(0)" data-behavior="end" class="button radius tiny primary">
    <span class="glyphicon glyphicon-step-forward">&raquo;</span>
  </a></li>
</ul>