body {
	background: #222;
		-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	font-smoothing:antialiased;
	font-smooth:always;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.display {
	margin:0 0 20px;height:200px;font-family:monospace;color:#000!important;font-size:12px;
	overflow:scroll;box-shadow:inset 0 0 7px rgba(0,0,0,0.6);
	}
.waveform {border: 1px solid #f08a24;margin:12px 0;cursor:;}

/*============
 * Transport
 * ==========*/
.transport {}
/*[data-behavior="record"].btn.active {color:#fff;background-color:#f84719;border-color:#f03707}*/
/*[data-behavior="play"].btn.active {color:#fff;background-color:#19ff35;border-color:#00ff1f}*/

/*============
 * Sequence
 * ==========*/
.sequence {min-height:120px;background-color:#111;}

/*===========
 * Pads
 * =========*/
.pads {margin-top:4px;}
.pad-container {margin:6px 0 6px;}
.pad-label {margin-bottom:2px;}

.btn-squishy {
	color:#000;
	padding:6px 12px;
	display:inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color:#eee;
	cursor:pointer;
	opacity:0.7;
	-webkit-transition: background-color 1s ease-out, opacity .22s linear, margin .03s linear, box-shadow: .03s linear;
	transition: background-color 1s ease-out, opacity .22s linear, margin .03s linear, box-shadow: .03s linear;
	border-radius:1.5px;
	border: 1px solid #aaa;
	box-shadow:	0 0 8px rgba(237,237,237,0.7)
}
.btn-squishy:hover {opacity:0.75;}

.btn-squishy:active, .btn-squishy.active {
	opacity:0.9;
	box-shadow: 0 0 7px rgba(237,237,237,0.9);
}
.pad .btn-squishy:active, .pad .btn-squishy.active {
	box-shadow: 0 0 12px #fff;
}
.btn-squishy.mapped {
	background-color:#C9E5FF;
		box-shadow:	0 0 8px rgba(201,229,255,0.7);
}
.btn-squishy.mapped:active, .btn-squishy.mapped.active {
	background-color:#A0D1FF;
	box-shadow: 0 0 12px rgba(201,229,255,0.9);
}
.pad {
	padding-bottom:90%;height:0;width:100%;display:block;
}



.tab-pane {padding:12px 0;}