<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <!-- manifset="pads.appcache" -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>beetmachine</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="beetmachineApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <nav class="tab-bar top-bar" data-topbar>
          <section class="middle tab-bar-section top-bar-section">
            <ul class="right">
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#">File</a>
                <ul class="dropdown">
                  <li>
                    <a href="javascript:void(0);" data-behavior="open">Open</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" data-behavior="save">Save</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" data-behavior="toJSON">toJSON()</a>
                  </li>
                  <li class="has-dropdown">
                    <a class="" href="#">Has Dropdown, Level 1</a>
                    <ul class="dropdown">
                      <li>
                        <a href="#">Dropdown Options</a>
                      </li>
                      <li>
                        <a href="#">Dropdown Options</a>
                      </li>
                      <li>
                        <a href="#">Level 2</a>
                      </li>
                      <li>
                        <a href="#">Subdropdown Option</a>
                      </li>
                      <li>
                        <a href="#">Subdropdown Option</a>
                      </li>
                      <li>
                        <a href="#">Subdropdown Option</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Dropdown Option</a>
                  </li>
                  <li class="divider"></li>
                  <li><label>Section Name</label></li>
                  <li>
                    <a href="#">Dropdown Option</a>
                  </li>
                  <li>
                    <a href="#">Dropdown Option</a>
                  </li>
                  <li>
                    <a href="#">Dropdown Option</a>
                  </li>
                </ul>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Main Item 2</a>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#">Main Item 3</a>
                <ul class="dropdown">
                  <li>
                    <a href="#">Dropdown Option</a>
                  </li>
                  <li>
                    <a href="#">Dropdown Option</a>
                  </li>
                  <li>
                    <a href="#">Dropdown Option</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">See all →</a>
                  </li>
                </ul>
              </li>
            </ul>
            <h1 class="title">beetmachine</h1>
          </section>
          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
        </nav>
        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Search on SoundCloud</label></li>
          </ul>
          <br>
          <div class="row">
            <div class="small-12 columns">
              <input type="search" lg-bind="query" placeholder="keywords">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>BPM</label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <input type="number" lg-bind="bpm.from" placeholder="BPM min">
            </div>
            <div class="small-6 columns">
              <input type="number" lg-bind="bpm.to" placeholder="BPM max">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>Duration</label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <input type="time" lg-bind="duration.from" placeholder="duration min">
            </div>
            <div class="small-6 columns">
              <input type="time" lg-bind="duration.to" placeholder="duration max">
            </div>
          </div>
        </aside>
        <div class="container main-section" ng-view="">
      
        </div>
        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="scripts/vendor/timbre.dev.js"></script>

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/paper/dist/paper-full.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <script src="bower_components/async/lib/async.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/directives/mongooseError.js"></script>
    <script src="scripts/controllers/display.js"></script>
    <script src="scripts/filters/tickstamp.js"></script>
    <script src="scripts/services/applog.js"></script>
    <script src="scripts/controllers/transport.js"></script>
    <script src="scripts/services/transport.js"></script>
    <script src="scripts/controllers/pattern.js"></script>
    <script src="scripts/controllers/pads.js"></script>
    <script src="scripts/services/pads.js"></script>
    <script src="scripts/directives/pad.js"></script>
    <script src="scripts/directives/dropuploadable.js"></script>
    <script src="scripts/services/uploadfile.js"></script>
    <script src="scripts/controllers/editor.js"></script>
    <script src="scripts/directives/waveform.js"></script>
    <script src="scripts/controllers/sequence.js"></script>
    <script src="scripts/directives/pattern.js"></script>
    <script src="scripts/services/pattern.js"></script>
    <script src="scripts/services/sample.js"></script>
    <script src="scripts/services/patterns.js"></script>
    <!-- endbuild -->
</body>
</html>