<!doctype html>
<!-- manifset="pads.appcache" -->
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>beetmachine</title>

	<meta name="description" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="stylesheet" href="/css/foundation.min.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/main.css">

	</head>
	<body>
		<div class="off-canvas-wrap">
			<div class="inner-wrap">
				<nav class="tab-bar top-bar" data-topbar>
					<section class="middle tab-bar-section top-bar-section">
						<ul class="right">
							<li class="divider"></li>
							<li class="has-dropdown">
								<a href="#">File</a>
								<ul class="dropdown">
									<li>
										<a href="javascript:void(0);" data-behavior="open">Open</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-behavior="save">Save</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-behavior="toJSON">toJSON()</a>
									</li>
									<li class="has-dropdown">
										<a class="" href="#">Has Dropdown, Level 1</a>
										<ul class="dropdown">
											<li>
												<a href="#">Dropdown Options</a>
											</li>
											<li>
												<a href="#">Dropdown Options</a>
											</li>
											<li>
												<a href="#">Level 2</a>
											</li>
											<li>
												<a href="#">Subdropdown Option</a>
											</li>
											<li>
												<a href="#">Subdropdown Option</a>
											</li>
											<li>
												<a href="#">Subdropdown Option</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">Dropdown Option</a>
									</li>
									<li class="divider"></li>
									<li><label>Section Name</label></li>
									<li>
										<a href="#">Dropdown Option</a>
									</li>
									<li>
										<a href="#">Dropdown Option</a>
									</li>
									<li>
										<a href="#">Dropdown Option</a>
									</li>
								</ul>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Main Item 2</a>
							</li>
							<li class="divider"></li>
							<li class="has-dropdown">
								<a href="#">Main Item 3</a>
								<ul class="dropdown">
									<li>
										<a href="#">Dropdown Option</a>
									</li>
									<li>
										<a href="#">Dropdown Option</a>
									</li>
									<li>
										<a href="#">Dropdown Option</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">See all →</a>
									</li>
								</ul>
							</li>
						</ul>
						<h1 class="title">beetmachine</h1>
					</section>
					<section class="right-small">
						<a class="right-off-canvas-toggle menu-icon" ><span></span></a>
					</section>
				</nav>
				<aside class="right-off-canvas-menu">
					<ul class="off-canvas-list">
						<li><label>Search on SoundCloud</label></li>
					</ul>
					<br>
					<div class="row">
						<div class="col-xs-12">
							<input type="search" data-bind="query" placeholder="keywords">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<label>BPM</label>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<input type="number" data-bind="bpm.from" placeholder="BPM min">
						</div>
						<div class="col-xs-6">
							<input type="number" data-bind="bpm.to" placeholder="BPM max">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<label>Duration</label>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<input type="time" data-bind="duration.from" placeholder="duration min">
						</div>
						<div class="col-xs-6">
							<input type="time" data-bind="duration.to" placeholder="duration max">
						</div>
					</div>
				</aside>
				<section class="main-section">
					<%- render(); %>
				</section>
				<a class="exit-off-canvas"></a>
			</div>
		</div>
	<script>
		// (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		// function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		// e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		// e.src='//www.google-analytics.com/analytics.js';
		// r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		// ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>
	<script src="/js/application.js"></script>
	</body>
</html>

